body {
    background-color: #ecf7f5;
    color: var(--grey-7);
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding-top: 80px;
}

/* changes higlight color */
::selection {
  background-color: var(--green-3);
  color: var(--grey-1);
}

/* ---------------------------------------------------- links -------------------------------------------------------- */

a {
  color: var(--green-4);
  text-decoration: none;
}

a:hover {
  color: var(--green-1);
}


.card {
    background-color: white;
    margin: 36px 10% 100px 10%;
    padding: 20px;
    border-radius: 5px;
}

.main-line {
    border-bottom: 2px solid var(--grey-7);
    padding-bottom: 2px;
}

.text-center {
    text-align: center;
}

/* --------------------------------------------------index.html------------------------------------------------------- */
/* sort by styles */
.sort-by {
    background-color: white;
    margin: 0px 24% 30px 24%;
    padding: 5px 20px 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sb-new-top {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.ntc-a {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: thin solid var(--grey-2);
    color: var(--grey-7);
    margin-left: 8px;
    padding: 5px;
}

.ntc-a:hover {
    color: var(--grey-7);
    background-color: var(--grey-1);
}

.sb-svg {
    filter: invert(13%) sepia(14%) saturate(1259%) hue-rotate(175deg) brightness(90%) contrast(89%);
    width: 18px;
    height: 18px;
}

/* --------------------------------------------- create-post.html ------------------------------------------------------*/

.create-card {
    background-color: white;
    margin: 36px 15% 100px 15%;
    padding: 20px;
    border-radius: 5px;
}

/* ---------------------------------------------- notifications.html ---------------------------------------------------*/

.noti-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-6);
    border-bottom: 2px solid var(--grey-2);
}

.noti-message a {
    text-decoration: underline;
}

/* ---------------------------------------------- view-profile.html ----------------------------------------------- */

.vp-post-card {
    background-color: white;
    margin: 0px 10% 50px 10%;
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
}

.vp-div {
    display: flex;
    flex-direction: row-reverse;
}

.vp-user-box {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    padding: 15px 85px 20px 45px;
    margin-right: 80px;
    top: 100px;
    background-color: white;
}

.vp-post-point-div {
    display: flex;
}

.vp-post-point h4 {
    color: var(--grey-7);
    border-bottom: 2px solid var(--grey-7);
    font-weight: 400;
    margin-bottom: 10px;
}

.vp-post-point p {
    margin-top: 0px;
}

.vp-post-point:last-child {
    margin-left: 40px;
}

.vp-us-bar h1 {
    margin-left: 20px;
}

/* ---------------------Style the tab----------------- */
.tab {
    overflow: hidden;
    margin: 0px 10% 18px 10%;
    display: table;
    /* border: thin solid var(--grey-4); */
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--green-2);
    color: var(--grey-1);
  }

  /* Create an active/current tablink class */
  /* .tab button.active {
    border-bottom: white;
  } */

  /* Style the tab content */
  .tabcontent {
    display: none;
  }

/* ------------------------------------------ visited post styles --------------------------------------------- */

.np-card {
    background-color: white;
    margin: 36px 10% 0px 10%;
    padding: 20px;
    border-radius: 5px;
}

.np-bdiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
}

.reply-card {
    display: flex;
    justify-content: space-between;
    margin: 20px 10% 40px 10%;
}

#imgComment {
    display: flex;
    align-items: center;
}

.txt-area-comment {
    width: 283px;
    height: 100px;
}

.comments {
    background-color: white;
    margin: 36px 10% 33px 10%;
    padding: 20px;
    border-radius: 5px;
}

.comment-name-upvote {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ----------------------------------------------- Settings.html ------------------------------------------------------ */
