.loginFlex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

.loginH1 {
 font-family: 'Libre Bodoni', serif;
 font-size: 65px;
 color: var(--green-4);
 margin-bottom: 0;
}

.loginH1 ~ p {
 font-size: 20px;
 color: var(--grey-7);
 margin-top: 4px;
}

.authForm {
  composes: formContainer from './Forms.module.css';
  background-color: var(--grey-1);
  width: auto;
  height: auto;
  margin: 10px auto;
  padding: 22px 28px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 1px 6px var(--grey-4);
}

/* Back to log-in link, in sign-up.html, styles */
.signupForm p {
  font-size: 15px;
 }

.signupForm {
  composes: authForm;
}

.formHeader {
 text-align: center;
 margin: 0 0 30px 0;
}

.loginBtn {
 padding: 15px 30px;
 color: #FFF;
 background-color: var(--green-3);
 font-size: 18px;
 text-align: center;
 font-style: normal;
 border: none;
 border-radius: 2px;
 width: 100%;
 cursor: pointer;
}

.loginBtn:hover {
 background-color: var(--green-5);
}

.createAccountBtn {
 background-color: var(--blue-4);
 color: white;
 text-decoration: none;
 padding: 8px 20px 8px 20px;
 border-radius: 2px;
 display: flex;
 justify-content: center;
 width: 65%;
 margin: auto;
}

.createAccountBtn:hover {
 color: white;
}

.createAccountBtn:hover {
 background-color: var(--blue-5);
 text-decoration: none;
}

.formLine {
 border-top: 2px solid var(--grey-3);
 padding-right: 100%;
}
